body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #e9e5de;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #c8c4c0;
    padding: 10px;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    display: none;
    padding: 20px;
}

section.active {
    display: block;
}

img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 10px;
}

.cats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cat {
    width: 200px;
    padding: 10px;
    background: rgb(247, 244, 242);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(177, 167, 167, 0.1);
}

.cat img {
    width: 100%;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin: 5px 0;
}

/* Nové styly pro sekci Naši zaměstnanci */
.staff-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.staff-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
    gap: 10px;
}

.staff-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.staff-member h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.long-text {
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

/* Hlavní manažerka bude ve středu */
#manager {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Styly pro jídelní lístek */
#menu {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.menu-category {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #232323;
}

.menu-items {
    list-style-type: none;
    padding-left: 0;
}

.menu-items li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.item-name {
    font-size: 1.2em;
}

.item-price {
    font-size: 1.2em;
    color: #353535;
}

.menu-items li:last-child {
    border-bottom: none;
}
